<div class="detail-card" *ngIf="card$ | async as card">
  <!-- 'card' es una variable que estamos creando para que se guarde la respuesta de nuestro observable -->
  <div class="top">
    <img [src]="card.card_images[0].image_url" alt="">
  </div>
  <div class="bottom">
    <h2>{{ card.name }}</h2>
    <div class="item">
      <p class="description">{{ card.desc }}</p>
    </div>

    <div class="item">
      <h3 class="title">Type</h3>
      <p class="description">{{ card.type }}</p>
    </div>

    <div class="item">
      <h3 class="title">Race</h3>
      <p class="description">{{ card.race }}</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Market</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Market</th>
          <td>Price</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
