// Los estilos de :host son para el app-root
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin: 0;
  background: rgb(9,33,121);
  background: radial-gradient(circle, rgba(9,33,121,1) 34%, rgba(2,0,36,1) 75%);
  flex: 1;
  position: relative;

  .cody-img{
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
}
